

*{
    margin: 0;
    padding: 0;
}

.all_screen {
    display: block;
    width: 100%;
    height: 100%;
}

.first_block {
    //border: solid 1px green;
    background-image: url(meeting_room.jfif);
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: 690px;
    display: block;
}

.title_in_first_block {
    color: white;
    font-size: 52px;
    width: 100%;
    text-align: center;
    padding-top: 140px;
    font-family: 'Arial Black';
}

.middle_text_in_first_block {
    color: #9a9a9a;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.text_with_line_FB {
    display: flex;
    width: 30%;
    margin-left: 35%;
    //border: solid 1px green;
    margin-top: 140px;
}

.get_free_quote {
    color: white;
    font-size: 20px;
    width: 40%;
    text-align: center;
    margin-top: -10px;
    font-family: 'Arial Black';
}

.registration_blue_rectangle {
    width: 50%;
    margin-left: 25%;
    height: 120px;
    background-color: dodgerblue;
    border-radius: 5px;
    display: flex;
    margin-top: 15px;
}

.name_field {
    margin-left: 4%;
    margin-top: 5%;
    width: 35%;
    height: 38px;
    background-color: white;
    color: #cdcdcd;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 19px;
    font-family: Comic Sans MS;
}

.email_field{
    margin-left: 2%;
    margin-top: 5%;
    width: 35%;
    height: 38px;
    background-color: white;
    color: #cdcdcd;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 19px;
    font-family: Comic Sans MS;
}

.enter_button {
    margin-left: 2%;
    margin-top: 5%;
    margin-right: 4%;
    width: 10%;
    height: 38px;
    background-color: black;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;


}

.arrow_img {
    margin-left: 10px;
    width: 30px;
    filter: invert(100%);
}

.little_text_in_first_block {
    color: #9a9a9a;
    font-size: 15px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.second_block {
    display: flex;
    height: 340px;
    margin-top: 100px;
    //border: solid 1px green;
}

.first_subblock {
    display: block;
    width: 20%;
    //border: solid 1px green;
    margin-left: 15%;
}

.second_subblock {
    display: block;
    width: 20%;
    //border: solid 1px green;
    margin-left: 5%;
}

.third_subblock {
    display: block;
    width: 20%;
    //border: solid 1px green;
    margin-left: 5%;
    margin-right: 15%;
}

.SB_icon {
    width: 36%;
    margin-left: 32%;
}

.SB_title {
    margin-top: 20px;
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Arial Black';
    text-align: center;
}

.SB_text {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #9a9a9a;
}

.third_block {
    height: 140px;
    display: flex;
    background-color: #191c24;
}

.TB_text {
    height: 30%;
    width: 35%;
    //border: solid 1px green;
    color: white;
    margin-left: 15%;
    margin-top: 50px;
    font-size: 19px;
}

.TB_button {
    height: 25%;
    width: 25%;
    margin-left: 5%;
    background-color: dodgerblue;
    margin-top: 50px;
    color: white;
    border-radius: 5px;
    font-size: 19px;
    padding-top: 10px;
    padding-left: 20px;
    //border: solid 1px green;
}

.fourth_block {
    margin-left: 15%;
    width: 70%;
    height: 1150px;
    border: solid 1px white;
}

.FB_text {
    font-size: 50px;
    font-family: 'Arial Black';
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}


.pictures_grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 350px);
}

.grid_icon {
    object-fit: cover;
    width: 100%;
    border-top: 20px solid white;
}

.grid_icon_middle {
    object-fit: cover;
    width: 100%;
    border-left: 20px solid white;
    border-top: 20px solid white;
}

.fifth_block {
    background-image: url(meeting_room2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: 375px;
    display: block;
}

.play_icon{
    width: 4%;
    margin-left: 48%;
    margin-top: 80px;
}

.FiB_title {
    font-size: 50px;
    font-family: 'Arial Black';
    text-align: center;
    margin-top: 10px;
    color: white;
}

.FiB_text {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color: #a0a0a0;
}

.sixth_block {
    width: auto;
    height: 560px;
    display: block;
    width: 70%;
    margin-left: 15%;
}

.SiB_title {
    color: black;
    margin-top: 80px;
    height: 100px;
    font-size: 40px;
    font-family: 'Arial Black';
    text-align: center;
}

.SiB_text {
    width: 60%;
    margin-left: 20%;
    text-align: center;
    margin-top: 70px;
    font-size: 22px;
    color: #9a9a9a;
}

.SiB_min_title {
    color: black;
    margin-top: 30px;
    font-size: 22px;
    font-family: 'Arial Black';
    text-align: center;
}

.SiB_min_text {
    color: #9a9a9a;
    margin-top: 0px;
    font-size: 14px;
    text-align: center;
}

.round_pic{
    margin-top: 10px;
    width: 6%;
    margin-left: 47%;
}

.Seventh_block {
    background-image: url(laptop.jfif);
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: 675px;
    display: block;
}

.SeB_title {
    width: 50%;
    margin-left: 25%;
    color: white;
    padding-top: 150px;
    font-size: 40px;
    font-family: 'Arial Black';
    text-align: center;
}

.SeB_text {
    width: 54%;
    margin-left: 23%;
    color: white;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
}

.SeB_btn {
    color: white;
    width: 10%;
    margin-left: 45%;
    height: 30px;
    margin-top: 40px;
    background-color: dodgerblue;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}